<article class="{{unapproved}}">
	<h1><a href="/blog/{{slug}}">{{title}}</a></h1>
	{{#poster}}
		<div class="poster">
	    <img src="/blog/images/poster/{{user}}/210x141!{{posterimg}}" alt="{{altposter}}"/>
	  </div>
	{{/poster}}
	<div class="articlecontent">
		{{{shorttext}}}
	</div>
	<ul class="postinfo list">
		<li>Posted by <a href="{{authorLink}}">{{author}}</a> in <a href="{{categoryLink}}">{{category}}</a></li>
		<li>{{date}}</li>
		<li><a href="/blog/{{slug}}">Read more &raquo;</a></li>
	</ul>
</article>