<article>
	<h1><a href="/blog/{{slug}}">{{title}}</a></h1>
	{{#poster}}
	  <div class="fullposter">
	    <img src="/blog/images/poster/{{user}}/680x455!{{posterimg}}" alt="{{altposter}}"/>
	  </div>
	{{/poster}}
	<div class="articlecontent">
		{{{text}}}
	</div>
	<ul class="postinfo">
		<li>Posted by <a href="{{authorLink}}">{{author}}</a> in <a href="{{categoryLink}}">{{category}}</a></li>
		<li>&nbsp;</li>
		<li style="text-align: right">{{date}}</li>
	</ul>
	<div id="fb-root"></div>
  <fb:comments href="http://simple-spring-3569.herokuapp.com/blog/{{slug}}"></fb:comments>
</article>