/* line 14, ../sass/grid.scss */
.grid-1 {
  width: 62px;
}

/* line 14, ../sass/grid.scss */
.grid-2 {
  width: 134px;
}

/* line 14, ../sass/grid.scss */
.grid-3 {
  width: 206px;
}

/* line 14, ../sass/grid.scss */
.grid-4 {
  width: 278px;
}

/* line 14, ../sass/grid.scss */
.grid-5 {
  width: 350px;
}

/* line 14, ../sass/grid.scss */
.grid-6 {
  width: 422px;
}

/* line 14, ../sass/grid.scss */
.grid-7 {
  width: 494px;
}

/* line 14, ../sass/grid.scss */
.grid-8 {
  width: 566px;
}

/* line 14, ../sass/grid.scss */
.grid-9 {
  width: 638px;
}

/* line 14, ../sass/grid.scss */
.grid-10 {
  width: 710px;
}

/* line 14, ../sass/grid.scss */
.grid-11 {
  width: 782px;
}

/* line 14, ../sass/grid.scss */
.grid-12 {
  width: 854px;
}

/* line 62, ../sass/grid.scss */
.page {
  width: 864px;
  margin: 0 auto;
}

/* line 65, ../sass/grid.scss */
.row {
  width: auto;
  margin-right: -/10px;
}

/* line 68, ../sass/grid.scss */
.page > .row {
  margin: 0;
}

/* line 71, ../sass/grid.scss */
.column {
  float: left;
  margin-right: 10px;
}
/* line 40, ../sass/grid.scss */
.ie6 .column {
  display: inline;
}

/* line 76, ../sass/grid.scss */
.box {
  margin-bottom: 10px;
}
