/* line 1, ../sass/markdown.scss */
.markItUp {
  min-width: 680px;
  width: auto;
  margin: 5px 0 5px 0;
  border: 3px solid whiteSmoke;
  border-radius: 3px;
}

/* line 8, ../sass/markdown.scss */
.markItUpContainer {
  border: none;
  background: #efefef;
  padding: 5px 5px 2px 5px;
  font: 11px Verdana, Arial, Helvetica, sans-serif;
}

/* line 14, ../sass/markdown.scss */
.markItUpEditor {
  font: 12px 'Courier New', Courier, monospace;
  padding: 5px 5px 5px 5px;
  width: 660px;
  height: 290px;
  clear: both;
  line-height: 18px;
  background: white;
  border: none;
  overflow: auto;
}
