<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
	<title>An (insignificantly) awesome blog</title>
	<!-- styles -->
	<link href="/stylesheets/fontkit_2/stylesheet.css" media="all, screen, projection" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if IE]>
	    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script> 
	<script type="text/javascript" src="/client.js"></script> 
	<script type="text/javascript">
   document.createElement('header');
   document.createElement('hgroup');
   document.createElement('nav');
   document.createElement('menu');
   document.createElement('section');
   document.createElement('article');
   document.createElement('aside');
   document.createElement('footer');
  </script>
	</head>
	<body>
	  {{>editbar}}
		<div id="container">
			<h2><a id="homeLink" href="/blog">Home</a></h2>
			<header>
				<h1><a href="{{titleLink}}">{{title}}</a></h1>

				<nav role="navigation">
					<ul>
						{{#nav}}
						<li><a href="{{link}}">{{text}}</a></li>
						{{/nav}}
					</ul>
				</nav>
			</header>

			<div id="content" role="main">
				<div class="posts">
				{{#posts}}
				   {{>bloglistpost}}
				{{/posts}}
				</div>
				
				<nav id="pagination">
					<ul>
						<li class="older"><a href="#">&laquo; Older posts</a></li>
						<li class="newer"><a href="#">Newer posts &raquo;</a></li>
					</ul>
				</nav>
				{{^searchpage}}
				  <a href="#" id="loadMore" data-from="{{from}}">More&hellip;</a>
				{{/searchpage}}
			</div>

			<aside id="sidebar">
				<section id="about">
					<h3>About this weblog</h3>
					<p>{{about}}<a href="#" class="more">Find out more &raquo;</a></p>
				</section>

				<section id="categories">
					<h3>Categories</h3>
					<ul>
						{{#categories}}
						<li><a href="{{link}}">{{text}}</a></li>
						{{/categories}}
					</ul>
				</section>

				<section id="languages">
					<h3>Languaes</h3>
					<ul>
						{{#languages}}
						<li><a href="{{link}}">{{text}}</a></li>
						{{/languages}}
					</ul>
				</section>

				<section id="latest">
					<h3>Latest posts</h3>
					<ul>
						{{#latest}}
						<li><a href="{{link}}">{{text}}</a></li>
						{{/latest}}
					</ul>
				</section>
				
				<section id="search" role="search">
					<h3>Search</h3>
					<form id="searchForm" method="get" action="#">
						<fieldset>
							<input type="text" id="searchbar" placeholder="I'm looking for&hellip;" />
							<input type="submit" id="searchsubmit" value="Search" />
						</fieldset>
					</form>
				</section>
			</aside>
		</div>

		<div id="footer-container">
			<footer>
				<ul id="credits">
				</ul>
				<p id="back-top"><a href="#">Back to top</a></p>
			</footer>
		</div>
	</body>
</html>